/*
 * Make scrollbar always visible and only active when needed
 * http://stackoverflow.com/questions/1202425/making-the-main-scrollbar-always-visible
 */
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

#main-container {
    margin-top: 70px;
}

.form-horizontal {
    max-width: 400px;
    margin: auto;
}

.thumbnail {
    display: block;
    margin: auto;
}

.clickable {
    cursor: pointer;
}

.bookmarks-container {
    margin: auto;
}

.page-img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
}

button#logout {
    margin-left: 10px;
}

.chapter-navs {
    margin: 30px auto 10px auto;
    max-width: 700px;
}

.chapter-container {
    text-align: center;
}

a.list-group-item:visited,
a.list-group-item:visited:hover,
a.list-group-item:focus {
  color: #74968d;
}

.clearfix {
    clear: both;
}

.navbar-default .navbar-text {
    color: white;
}
