/*
 * Make scrollbar always visible and only active when needed
 * http://stackoverflow.com/questions/1202425/making-the-main-scrollbar-always-visible
 */
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

#main-container {
    margin-top: 70px;
}

.form-horizontal {
    max-width: 400px;
    margin: auto;
}

.thumbnail {
    display: block;
    margin: auto;
}

.clickable {
    cursor: pointer;
}

.title-container {
    max-width: 700px;
    margin: auto;
}

.page-img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
}

button#logout {
    margin-left: 10px;
}

.chapter-navs {
    margin: 30px auto 0px auto;
    max-width: 700px;
}

.chapter-container {
    text-align: center;
}

.list-group-item:visited {
  color: #8a6d3b;
  background-color: #fcf8e3;
}
a.list-group-item:visited {
  color: #8a6d3b;
}
a.list-group-item:visited:hover,
a.list-group-item:focus {
  color: #8a6d3b;
  background-color: #faf2cc;
}
