/* Put your CSS here */
#main-container {
    margin-top: 70px;
}

.form-horizontal {
    max-width: 400px;
    margin: auto;
}

.thumbnail {
    display: block;
    margin: auto;
}

.clickable {
    cursor: pointer;
}

.title-container {
    max-width: 700px;
    margin: auto;
}

.page-img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
}

button#logout {
    margin-left: 10px;
}
