{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block metadata %}
<meta property="og:image" content="{{thumb_url}}" />
<meta property="og:site_name" content="Pytaku" />
<meta property="og:description" content="{{'. '.join(descriptions)}}" />
<meta property="og:title" content="{{title}}" />
{% endblock %}

{% block content %}
<h1>{{title}}</h1>
<img src="{{thumb_url}}" alt="{{title}} thumbnail image" />

{% for desc in descriptions %}
<div>
  <p>{{desc}}</p>
</div>
{% endfor %}

{% endblock %}
